doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Best Buy Product Search
    link(rel='stylesheet', href='/views/jquery.typeahead.min.css')
    script(src='https://code.jquery.com/jquery-2.1.3.min.js')
  body
    div(style='width: 100%; max-width: 800px; margin: 0 auto;')
      h1 Best Buy Product Search
      form
        .typeahead__container
          .typeahead__field
            span.typeahead__query
              input.js-typeahead(name='q', type='search', autocomplete='off')
            |  
            span.typeahead__button
              button(type='submit')
                span.typeahead__search-icon