doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Kramerica Product Search
    script(src='https://code.jquery.com/jquery-2.1.3.min.js')
    script(src='/scripts/typeahead.bundle.min.js')
    script(src='/scripts/data.js')
  body
    h2 Product Search
    div#daniel
       input(class='typeahead', type='text', placeholder="Ex: Duracell", autocomplete="off")